In [1]:
import pandas as panda

In [3]:
people = {
    'first': ['niklaus','damon','stefan','elijah','michael'],
    'last': ['vampyre','salvatore','salvatore','vampyre','jordan'],
    'email': ['klaus@gmail.com','salv@gmail.com','vam@gmail.com','vag@gmail.com','jord@gmail.com']
}

In [4]:
df = panda.DataFrame(people)

In [5]:
df

     first       last            email
0  niklaus    vampyre  klaus@gmail.com
1    damon  salvatore   salv@gmail.com
2   stefan  salvatore    vam@gmail.com
3   elijah    vampyre    vag@gmail.com
4  michael     jordan   jord@gmail.com

In [10]:
# filtering salvatores
df['last']=='salvatore'

0    False
1     True
2     True
3    False
4    False
Name: last, dtype: bool

In [13]:
# tablifying the filtration
filt = (df['last']=='salvatore')

df.loc[filt]

    first       last           email
1   damon  salvatore  salv@gmail.com
2  stefan  salvatore   vam@gmail.com